Repository RuiFSP/mlops-2025-final_project: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format-check, mypy, pytest-unit

ruff-check:
  name: ruff linting (matches CI exactly)
  entry: uv run ruff check src tests
  language: system
  pass_filenames: false

ruff-format-check:
  name: ruff formatting check (matches CI exactly)
  entry: uv run ruff format --check src tests
  language: system
  pass_filenames: false

mypy:
  name: mypy type checking (matches CI exactly)
  entry: uv run mypy src
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest unit tests (matches CI exactly)
  entry: uv run python -m pytest tests/unit/ -v --tb=short -q
  language: system
  pass_filenames: false

fix: Remove unused variables and convert dict comprehensions
  src/automation/deployment_trigger.py
  src/automation/prefect_client.py
  src/automation/retraining_flow.py
  src/automation/retraining_scheduler.py
  src/config/__init__.py
  src/simulation/retraining_orchestrator.py
  tests/e2e/test_enhanced_model.py
  tests/integration/test_automated_retraining_integration.py
  tests/integration/test_enhanced_model_integration.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

fix: Pin Ruff version to 0.12.2 for consistency
  pyproject.toml
  uv.lock
Due: none

fix: Resolve final 7 Ruff linting errors
  src/automation/prefect_client.py
  src/automation/retraining_flow.py
  src/automation/retraining_scheduler.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

fix: Apply formatting in CI before checking
  .github/workflows/ci-cd.yml
Due: none

fix: Update integration tests to use correct parameter names
  tests/integration/test_automated_retraining_integration.py
  tests/integration/test_retraining_flow.py
Due: ruff-check, ruff-format-check, pytest-unit

fix: Remove unused mock_trainer variable in test
  tests/integration/test_retraining_flow.py
Due: ruff-check, ruff-format-check, pytest-unit

fix: Implement responsive scheduler shutdown using threading Event
  src/automation/retraining_scheduler.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

fix: Remove unused time import from retraining scheduler
  src/automation/retraining_scheduler.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

Fix MyPy type annotations for all monitoring modules
  config/grafana/datasources.yaml
  config/grafana/grafana.ini
  dashboards/drift_analysis_dashboard.json
  dashboards/mlops_monitoring_dashboard.json
  docs/evidently_grafana_monitoring.md
  pyproject.toml
  scripts/evidently_grafana_demo.py
  src/monitoring/evidently/__init__.py
  src/monitoring/evidently/evidently_monitor.py
  src/monitoring/evidently/metrics_exporter.py
  src/monitoring/evidently/report_generator.py
  src/monitoring/grafana/__init__.py
  src/monitoring/grafana/dashboard_config.py
  src/monitoring/grafana/panel_factory.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy, pytest-unit

Core Evidently monitoring system working with API v0.7.9
  dashboards/demo_ml_monitoring_dashboard.json
  src/monitoring/evidently/evidently_monitor.py
  src/monitoring/evidently/metrics_exporter.py
  src/monitoring/evidently/report_generator.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

📚 Update README with comprehensive Evidently + Grafana monitoring system documentation
  Makefile
  README.md
Due: none

feat: Complete local development setup with full MLOps stack
  DEVELOPMENT_PLAN.md
  Dockerfile
  PROJECT_OVERVIEW.md
  README.md
  TODO.md
  config.env.example
  config/demo_retraining_config.yaml
  config/grafana/datasources.yaml
  config/grafana/grafana.ini
  config/retraining_config.yaml
  docker-compose.yml
  grafana/provisioning/dashboards/dashboard.yml
  grafana/provisioning/datasources/postgresql.yml
  postgres_dashboard.json
  scripts/check_db_tables.py
  scripts/clean_postgres.py
  scripts/debug_bets_table.py
  scripts/debug_predictions.py
  scripts/setup_grafana.py
  scripts/test_betting.py
  scripts/test_betting_simulation.py
  src/betting_simulator/simulator.py
  src/pipelines/prediction_pipeline.py
  src/pipelines/training_pipeline.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

feat: Add pre-commit hooks and complete API development
  .pre-commit-config.yaml
  API_DOCUMENTATION.md
  DEVELOPMENT_PLAN.md
  PROJECT_OVERVIEW.md
  README.md
  TODO.md
  config.env.example
  docker-compose.yml
  pyproject.toml
  scripts/check_db_tables.py
  scripts/check_mlflow.py
  scripts/clean_postgres.py
  scripts/debug_bets_table.py
  scripts/debug_predictions.py
  scripts/postgres_metrics_generator.py
  scripts/setup_database.py
  scripts/setup_grafana.py
  scripts/test_api.py
  scripts/test_betting.py
  scripts/test_betting_simulation.py
  scripts/test_services.py
  src/api/__init__.py
  src/api/main.py
  src/betting_simulator/__init__.py
  src/betting_simulator/simulator.py
  src/data_integration/__init__.py
  src/data_integration/real_data_fetcher.py
  src/main.py
  src/monitoring/metrics_storage.py
  src/pipelines/__init__.py
  src/pipelines/prediction_pipeline.py
  src/pipelines/training_pipeline.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy, pytest-unit

feat: Complete automated retraining system implementation
  .pre-commit-config.yaml
  API_DOCUMENTATION.md
  README.md
  pyproject.toml
  scripts/test_retraining.py
  src/api/main.py
  src/retraining/__init__.py
  src/retraining/retraining_monitor.py
  src/retraining/scheduler.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy, pytest-unit

feat: Complete MLOps system with orchestration and monitoring
  DEVELOPMENT_PLAN.md
  ORCHESTRATION_IMPLEMENTATION.md
  PROJECT_STATUS.md
  README.md
  TODO.md
  data/alerts/alerts.json
  data/predictions/daily_predictions.json
  grafana/dashboards/mlops_dashboard.json
  scripts/debug_predictions.py
  scripts/test_betting.py
  scripts/test_simple_integration.py
  scripts/test_simple_orchestration.py
  src/monitoring/__init__.py
  src/monitoring/metrics_storage.py
  src/orchestration/__init__.py
  src/orchestration/flows.py
  src/orchestration/scheduler.py
  src/orchestration/tasks.py
  src/pipelines/prediction_pipeline.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

fix: Clean up unused variables and minor linting fixes
  scripts/test_simple_integration.py
  src/orchestration/tasks.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

docs: Add tested run instructions and guides
  QUICK_START_GUIDE.md
  RUN_INSTRUCTIONS.md
  data/alerts/alerts.json
  data/predictions/daily_predictions.json
Due: none

feat: Enhanced weekly batch processing system
  data/batches/week_2024-W17_3matches.json
  scripts/test_weekly_processing.py
  src/orchestration/batch_processor.py
  src/orchestration/weekly_flows.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

📚 Major Documentation Consolidation & Betting System Planning
  API.md
  BETTING_SYSTEM_IMPLEMENTATION_PLAN.md
  README.md
  docs/archive/FINAL_SUMMARY.md
  docs/archive/ORCHESTRATION_IMPLEMENTATION.md
  docs/archive/PROJECT_OVERVIEW.md
  docs/archive/PROJECT_STATUS.md
  docs/archive/QUICK_START_GUIDE.md
  docs/archive/README.md
  docs/archive/RUN_INSTRUCTIONS.md
Due: none

docs: consolidate documentation - streamline README and remove redundant files
  CONTRIBUTING.md
  FINAL_SUMMARY.md
  ORCHESTRATION_IMPLEMENTATION.md
  PROJECT_OVERVIEW.md
  PROJECT_STATUS.md
  QUICK_START_GUIDE.md
  README.md
  RUN_INSTRUCTIONS.md
  data/alerts/alerts.json
  data/batches/week_2024-W17_3matches.json
  data/predictions/daily_predictions.json
  scripts/test_retraining.py
  src/api/main.py
  src/retraining/__init__.py
  src/retraining/retraining_monitor.py
  src/retraining/scheduler.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

docs: consolidate documentation - streamlined README and CONTRIBUTING
  README.md
Due: none

feat: Complete MLOps system with comprehensive documentation and automation
  .pre-commit-config.yaml
  Makefile
  README.md
  data/alerts/alerts.json
  data/predictions/daily_predictions.json
  docker-compose.yml
  pyproject.toml
  scripts/debug_bets_table.py
  scripts/setup_database.py
  scripts/setup_grafana.py
  scripts/test_betting_simulation.py
  scripts/test_end_to_end_monitoring.py
  scripts/test_simple_integration.py
  scripts/test_simple_monitoring.py
  src/betting_simulator/simulator.py
  src/main.py
  src/monitoring/metrics_storage.py
  src/orchestration/weekly_flows.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

docs: Enhance README with project details and motivation
  README.md
Due: none

Fix linter issues and pre-commit hook formatting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  deployment/cloud-deployment.md
  railway.toml
  render.yaml
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/test_betting_simulator.py
  tests/unit/test_prediction_pipeline.py
  tests/unit/test_training_pipeline.py
Due: ruff-check, ruff-format-check, pytest-unit

Enhance README with comprehensive improvements
  README.md
Due: none

Simplify CI/CD to match local development workflow
  .github/workflows/ci.yml
  scripts/demo_access_guide.py
  scripts/postgres_metrics_generator.py
  scripts/test_retraining.py
  scripts/test_simple_orchestration.py
  scripts/test_weekly_processing.py
  src/api/main.py
  src/orchestration/batch_processor.py
  src/orchestration/tasks.py
  src/pipelines/prediction_pipeline.py
  src/pipelines/training_pipeline.py
  src/retraining/retraining_monitor.py
  src/retraining/scheduler.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

Refactor optional dependencies in pyproject.toml
  pyproject.toml
Due: none

Refactor dependency management and improve test mocks
  tests/unit/test_betting_simulator.py
  tests/unit/test_training_pipeline.py
  uv.lock
Due: ruff-check, ruff-format-check, pytest-unit

Update project documentation and add workflow images
  .env.example
  CONTRIBUTING.md
  README.md
  config.env.example
  data/historical_replay/historical_replay_20250713_174144.json
  data/retraining/metadata.json
  images/compreensive_weekly_flow.PNG
  images/historical_replay_flow.PNG
  images/images_mlflow.PNG
  images/prefect_flow.PNG
  images/prefect_weekly_batch_processing_flow.PNG
Due: none

removed data
  data/historical_replay/historical_replay_20250713_174144.json
  data/retraining/metadata.json
Due: none

Streamlit dashboard improvements: removed unnecessary sections, fixed navigation, added troubleshooting
  Makefile
  README.md
  config.env.example
  config/__init__.py
  config/database.py
  docker-compose.yml
  grafana/dashboards/corrected_mlops_dashboard.json
  pyproject.toml
  scripts/dashboard_troubleshoot.py
  scripts/fix_database.py
  scripts/setup_dashboard.py
  scripts/setup_database.py
  scripts/setup_grafana.py
  scripts/start_dashboard.py
  scripts/test_services.py
  src/betting_simulator/simulator.py
  src/dashboard/README.md
  src/dashboard/__init__.py
  src/dashboard/streamlit_app.py
  src/monitoring/metrics_storage.py
  src/simulation/__init__.py
  src/simulation/simulator.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy, pytest-unit

Simplified database and model setup to avoid permission issues
  Makefile
  README.md
  config/__init__.py
  config/database.py
  docker-compose.yml
  docs/simplified_setup.md
  mlartifacts/580616328939382755/models/m-3d798fb6b51a43b883752a32e9928f85/artifacts/MLmodel
  mlartifacts/580616328939382755/models/m-3d798fb6b51a43b883752a32e9928f85/artifacts/conda.yaml
  mlartifacts/580616328939382755/models/m-3d798fb6b51a43b883752a32e9928f85/artifacts/model.pkl
  mlartifacts/580616328939382755/models/m-3d798fb6b51a43b883752a32e9928f85/artifacts/python_env.yaml
  mlartifacts/580616328939382755/models/m-3d798fb6b51a43b883752a32e9928f85/artifacts/requirements.txt
  scripts/dashboard_troubleshoot.py
  scripts/fix_database.py
  scripts/fix_model.py
  scripts/setup_dashboard.py
  scripts/setup_database.py
  scripts/start_dashboard.py
  scripts/test_services.py
  src/api/main.py
  src/dashboard/README.md
  src/dashboard/__init__.py
  src/dashboard/streamlit_app.py
  src/retraining/retraining_monitor.py
  src/simulation/__init__.py
  src/simulation/simulator.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

Remove outdated example configuration files and enhance environment setup
  src/dashboard/streamlit_app.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

Update dependencies in pyproject.toml and requirements.txt
  pyproject.toml
  requirements.txt
Due: none

Fix config import in prediction_pipeline.py
  src/pipelines/prediction_pipeline.py
Due: ruff-check, ruff-format-check, mypy, pytest-unit

Path conditions:
  ruff-check: any of: ^(src|tests)/.*\.py$ and \.py$
  ruff-format-check: any of: ^(src|tests)/.*\.py$ and \.py$
  mypy: any of: ^src/.*\.py$ and \.py$
  pytest-unit: any of: \.py$
